In [1]:
import pandas as pd

In [2]:
# Read in election csv
csv =  "Resources/elec_results_2020.csv"
elec_df = pd.read_csv(csv)
elec_df.head()

   state_fips  state_name  red_blue_2020
0           1     ALABAMA              1
1           2      ALASKA              1
2           4     ARIZONA              0
3           5    ARKANSAS              1
4           6  CALIFORNIA              0

In [3]:
# add in elec_result column to elec_df 
elec_df["elec_result"] = elec_df["red_blue_2020"]

In [4]:
# print out head of elec_df
elec_df.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [5]:
# copying elec_df to elec_df1
elec_df1 = elec_df.copy()

In [6]:
# check to see if elec_df1 copied correctly
elec_df1.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [7]:
# keep columns "state_name", "elect_result" in elec_df1
elec_df1 = elec_df1[["state_name", "elec_result"]]

In [8]:
# print elec_df1 head
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [9]:
# count elec_df1 for repeat states
elec_df1.value_counts()

state_name            elec_result
ALABAMA               1              1
PENNSYLVANIA          0              1
NEVADA                0              1
NEW HAMPSHIRE         0              1
NEW JERSEY            0              1
NEW MEXICO            0              1
NEW YORK              0              1
NORTH CAROLINA        1              1
NORTH DAKOTA          1              1
OHIO                  1              1
OKLAHOMA              1              1
OREGON                0              1
RHODE ISLAND          0              1
MONTANA               1              1
SOUTH CAROLINA        1              1
SOUTH DAKOTA          1              1
TENNESSEE             1              1
TEXAS                 1              1
UTAH                  1              1
VERMONT               0              1
VIRGINIA              0              1
WASHINGTON            0              1
WEST VIRGINIA         1              1
WISCONSIN             0              1
NEBRASKA              1              1
MISSOURI              1              1
ALASKA                1              1
IDAHO                 1              1
ARIZONA               0              1
ARKANSAS              1              1
CALIFORNIA            0              1
COLORADO              0              1
CONNECTICUT           0              1
DELAWARE              0              1
DISTRICT OF COLUMBIA  0              1
FLORIDA               1              1
GEORGIA               0              1
HAWAII                0              1
ILLINOIS              0              1
MISSISSIPPI           1              1
INDIANA               1              1
IOWA                  1              1
KANSAS                1              1
KENTUCKY              1              1
LOUISIANA             1              1
MAINE                 0              1
MARYLAND              0              1
MASSACHUSETTS         0              1
MICHIGAN              0              1
MINNESOTA             0              1
WYOMING               1              1
dtype: int64

In [10]:
# print the head of elec_df1
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [55]:
# read in the county_pop_merge.csv file

file = "Resources/county_pop_loc_sqlmerge1.csv"
df = pd.read_csv(file)

In [56]:
df = df.rename({"state_name_x" : "state_name"}, axis = 1)

In [57]:
df = df.dropna(subset=['state_name'])
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502

In [58]:
# copy df to df_dummy

df_dummy = df.copy()

In [59]:
# add in the election results to the mandate data

df['state_name'] = df['state_name'].apply(lambda x: x.strip())
df['e_results'] = ''

for i in df.index:
    state = df.loc[i, 'state_name']
    try:
        df['e_results'].at[i] = elec_df1[elec_df1['state_name'].str.strip() == state.strip()]['elec_result'].values[0]
    except Exception as e:
        print(e)
    
df.sample(n=20)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results
2924,47.0,TENNESSEE,47067,Hancock County,0,0,0,2020-12-31,Hancock,Tennessee,324,5,6493.0,36.5236,-83.2219,1
1807,13.0,GEORGIA,13255,Spalding County,0,0,0,2020-12-31,Spalding,Georgia,3709,98,67414.0,33.2609,-84.2841,0
1146,48.0,TEXAS,48429,Stephens County,1,7,5,2020-12-31,Stephens,Texas,562,14,9334.0,32.7359,-98.8362,1
2778,40.0,OKLAHOMA,40075,Kiowa County,0,0,0,2020-12-31,Kiowa,Oklahoma,544,11,8741.0,34.9164,-98.9809,1
1962,17.0,ILLINOIS,17049,Effingham County,0,0,0,2020-12-31,Effingham,Illinois,3860,57,34065.0,39.0598,-88.5899,0
1615,5.0,ARKANSAS,5049,Fulton County,0,0,0,2020-12-31,Fulton,Arkansas,884,36,12381.0,36.3817,-91.8182,1
1963,17.0,ILLINOIS,17031,Cook County,0,0,0,2020-12-31,Cook,Illinois,393652,8285,5108284.0,41.8401,-87.8168,0
755,37.0,NORTH CAROLINA,37151,Randolph County,1,6,6,2020-12-31,Randolph,North Carolina,8048,123,144557.0,35.7103,-79.8060,1
2754,40.0,OKLAHOMA,40083,Logan County,0,0,0,2020-12-31,Logan,Oklahoma,2547,8,48777.0,35.9193,-97.4433,1
2445,29.0,MISSOURI,29001,Adair County,0,0,0,2020-12-31,Adair,Missouri,1764,11,25399.0,40.1906,-92.6007,1
2053,18.0,INDIANA,18133,Putnam County,0,0,0,2020-12-31,Putnam,Indiana,2462,39,37469.0,39.6663,-86.8450,1
2546,31.0,NEBRASKA,31065,Furnas County,0,0,0,2020-12-31,Furnas,Nebraska,362,4,4653.0,40.1764,-99.9123,1
328,22.0,LOUISIANA,22035,East Carroll Parish,1,7,5,2020-12-31,East Carroll,Louisiana,959,16,6589.0,32.7325,-91.2351,1
1626,5.0,ARKANSAS,5105,Perry County,0,0,0,2020-12-31,Perry,Arkansas,438,5,10327.0,34.9474,-92.9315,1
2814,40.0,OKLAHOMA,40103,Noble County,0,0,0,2020-12-31,Noble,Oklahoma,984,7,11113.0,36.3886,-97.2305,1
1613,5.0,ARKANSAS,5003,Ashley County,0,0,0,2020-12-31,Ashley,Arkansas,1273,21,19339.0,33.1912,-91.7685,1
1555,2.0,ALASKA,2013,Aleutians East Borough,0,0,0,2020-12-31,Aleutians East Borough,Alaska,38,0,3401.0,55.3665,-161.9813,1
985,45.0,SOUTH CAROLINA,45089,Williamsburg County,1,7,5,2020-12-31,Williamsburg,South Carolina,2213,61,29825.0,33.6199,-79.7277,1
2355,27.0,MINNESOTA,27167,Wilkin County,0,0,0,2020-12-31,Wilkin,Minnesota,588,7,6161.0,46.3571,-96.4683,0
930,42.0,PENNSYLVANIA,42089,Monroe County,1,7,5,2020-12-31,Monroe,Pennsylvania,6103,200,170154.0,41.0581,-75.3395,0

In [60]:
#count the election results

df["e_results"].value_counts()

1    1983
0    1142
Name: e_results, dtype: int64

In [61]:
# count the number of "state_name" and "e_result" values

df[["state_name", "e_results"]].value_counts()

state_name            e_results
TEXAS                 1            254
GEORGIA               0            159
VIRGINIA              0            133
KENTUCKY              1            120
MISSOURI              1            115
KANSAS                1            105
ILLINOIS              0            102
NORTH CAROLINA        1            100
IOWA                  1             99
TENNESSEE             1             95
NEBRASKA              1             93
INDIANA               1             92
OHIO                  1             88
MINNESOTA             0             87
MICHIGAN              0             83
MISSISSIPPI           1             82
OKLAHOMA              1             77
ARKANSAS              1             75
WISCONSIN             0             72
PENNSYLVANIA          0             67
ALABAMA               1             67
FLORIDA               1             66
SOUTH DAKOTA          1             65
LOUISIANA             1             64
COLORADO              0             63
CALIFORNIA            0             58
NEW YORK              0             57
MONTANA               1             56
WEST VIRGINIA         1             55
NORTH DAKOTA          1             53
SOUTH CAROLINA        1             46
IDAHO                 1             44
WASHINGTON            0             39
OREGON                0             36
NEW MEXICO            0             33
UTAH                  1             29
MARYLAND              0             24
WYOMING               1             23
NEW JERSEY            0             21
ALASKA                1             20
NEVADA                0             17
MAINE                 0             16
ARIZONA               0             15
VERMONT               0             14
MASSACHUSETTS         0             14
NEW HAMPSHIRE         0             10
CONNECTICUT           0              8
RHODE ISLAND          0              5
HAWAII                0              5
DELAWARE              0              3
DISTRICT OF COLUMBIA  0              1
dtype: int64

In [62]:
# call call out the columns of df
df.columns

Index(['state_fips', 'state_name', 'fips', 'county_name_x', 'mask_mandate',
       'month_started', 'mandate_duration_months', 'date', 'county', 'state',
       'cases', 'deaths', 'popestimate2020', 'lat', 'lng', 'e_results'],
      dtype='object')

In [63]:
# return a sample of data for the df
df.sample(n=10)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results
1812,13.0,GEORGIA,13053,Chattahoochee County,0,0,0,2020-12-31,Chattahoochee,Georgia,2211,3,10551.0,32.3470,-84.7870,0
1263,51.0,VIRGINIA,51550,Chesapeake city,1,5,7,2020-12-31,Chesapeake city,Virginia,9324,101,247011.0,36.6778,-76.3024,0
550,28.0,MISSISSIPPI,28063,Jefferson County,1,7,5,2020-12-31,Jefferson,Mississippi,466,14,6997.0,31.7343,-91.0373,1
2270,20.0,KANSAS,20003,Anderson County,0,0,0,2020-12-31,Anderson,Kansas,564,0,7949.0,38.2142,-95.2933,1
3088,55.0,WISCONSIN,55045,Green County,0,0,0,2020-12-31,Green,Wisconsin,2392,12,36603.0,42.6800,-89.6022,0
217,21.0,KENTUCKY,21145,McCracken County,1,7,5,2020-12-31,McCracken,Kentucky,4265,41,65644.0,37.0540,-88.7127,1
920,42.0,PENNSYLVANIA,42015,Bradford County,1,7,5,2020-12-31,Bradford,Pennsylvania,3040,56,60221.0,41.7887,-76.5154,0
1169,48.0,TEXAS,48035,Bosque County,1,7,5,2020-12-31,Bosque,Texas,796,17,18603.0,31.9004,-97.6343,1
2777,40.0,OKLAHOMA,40029,Coal County,0,0,0,2020-12-31,Coal,Oklahoma,478,4,5587.0,34.5882,-96.2978,1
376,23.0,MAINE,23025,Somerset County,1,7,5,2020-12-31,Somerset,Maine,743,21,50635.0,45.5139,-69.9589,0

In [64]:
# calcualting the percentage of cases to the overall population

df['cases_perc'] = round(df['cases']/df['popestimate2020']*100)

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6.0

In [65]:
df['cases_perc'].isna().sum()

1

In [66]:
df.dropna(subset=['cases_perc'], inplace=True)
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6.0

In [67]:
# turn the cases_perc column from float to int64

df = df.astype({'cases_perc': 'int64'})
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
dtype: object

In [68]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6

In [69]:
# check data types again of df
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
dtype: object

In [70]:
# calcualting the percentage of cases to the overall population

df['deaths_perc'] = round(df['deaths']/df['popestimate2020']*100)
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10,0.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7,0.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8,0.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8,0.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6,0.0

In [71]:
# turn the cases_perc column from float to int64
df = df.astype({'deaths_perc': 'int64'})
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
deaths_perc                  int64
dtype: object

In [72]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10,0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7,0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8,0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8,0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6,0

In [73]:
#print out a sample of the data from df

df.sample(n=10)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc
180,20.0,KANSAS,20021,Cherokee County,1,7,5,2020-12-31,Cherokee,Kansas,1709,16,19681.0,37.1693,-94.8463,1,9,0
1656,12.0,FLORIDA,12047,Hamilton County,0,0,0,2020-12-31,Hamilton,Florida,1277,15,14521.0,30.4964,-82.9479,1,9,0
1784,13.0,GEORGIA,13313,Whitfield County,0,0,0,2020-12-31,Whitfield,Georgia,11815,126,103837.0,34.8056,-84.9672,0,11,0
1931,16.0,IDAHO,16025,Camas County,0,0,0,2020-12-31,Camas,Idaho,56,0,1130.0,43.4633,-114.8058,1,5,0
2447,29.0,MISSOURI,29005,Atchison County,0,0,0,2020-12-31,Atchison,Missouri,260,5,5096.0,40.4308,-95.4281,1,5,0
906,42.0,PENNSYLVANIA,42035,Clinton County,1,7,5,2020-12-31,Clinton,Pennsylvania,1942,24,37957.0,41.2341,-77.6382,0,5,0
2325,27.0,MINNESOTA,27043,Faribault County,0,0,0,2020-12-31,Faribault,Minnesota,911,11,13601.0,43.6739,-93.9479,0,7,0
1588,5.0,ARKANSAS,5127,Scott County,0,0,0,2020-12-31,Scott,Arkansas,588,11,10164.0,34.8608,-94.0633,1,6,0
44,6.0,CALIFORNIA,6113,Yolo County,1,4,8,2020-12-31,Yolo,California,8238,111,219728.0,38.6866,-121.9016,0,4,0
226,21.0,KENTUCKY,21165,Menifee County,1,7,5,2020-12-31,Menifee,Kentucky,215,1,6502.0,37.9414,-83.5989,1,3,0

In [74]:
# save df datafram to a csv titled "final.csv"
df.to_csv('final.csv')