In [11]:
import pandas as pd
from io import StringIO

In [12]:
# Read in election csv
csv =  "Resources/elec_results_2020.csv"
elec_df = pd.read_csv(csv)
elec_df.head()

   state_fips  state_name  red_blue_2020
0           1     ALABAMA              1
1           2      ALASKA              1
2           4     ARIZONA              0
3           5    ARKANSAS              1
4           6  CALIFORNIA              0

In [13]:
elec_df["elec_result"] = elec_df["red_blue_2020"]

In [15]:
elec_df.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [16]:
elec_df1 = elec_df.copy()

In [17]:
elec_df1.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [18]:
elec_df1 = elec_df1[["state_name", "elec_result"]]

In [19]:
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [51]:
elec_df1.value_counts()

state_name            elec_result
ALABAMA               1              1
PENNSYLVANIA          0              1
NEVADA                0              1
NEW HAMPSHIRE         0              1
NEW JERSEY            0              1
NEW MEXICO            0              1
NEW YORK              0              1
NORTH CAROLINA        1              1
NORTH DAKOTA          1              1
OHIO                  1              1
OKLAHOMA              1              1
OREGON                0              1
RHODE ISLAND          0              1
MONTANA               1              1
SOUTH CAROLINA        1              1
SOUTH DAKOTA          1              1
TENNESSEE             1              1
TEXAS                 1              1
UTAH                  1              1
VERMONT               0              1
VIRGINIA              0              1
WASHINGTON            0              1
WEST VIRGINIA         1              1
WISCONSIN             0              1
NEBRASKA              1              1
MISSOURI              1              1
ALASKA                1              1
IDAHO                 1              1
ARIZONA               0              1
ARKANSAS              1              1
CALIFORNIA            0              1
COLORADO              0              1
CONNECTICUT           0              1
DELAWARE              0              1
DISTRICT OF COLOMBIA  0              1
FLORIDA               1              1
GEORGIA               0              1
HAWAII                0              1
ILLINOIS              0              1
MISSISSIPPI           1              1
INDIANA               1              1
IOWA                  1              1
KANSAS                1              1
KENTUCKY              1              1
LOUISIANA             1              1
MAINE                 0              1
MARYLAND              0              1
MASSACHUSETTS         0              1
MICHIGAN              0              1
MINNESOTA             0              1
WYOMING               1              1
dtype: int64

In [49]:
elec_df1[elec_df1["state_name"] ==  "WYOMING"]["elec_result"]

50    1
Name: elec_result, dtype: int64

In [100]:
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [99]:
file = "mega_merged_df.csv"
df = pd.read_csv(file)
df = df.dropna(subset=['state_name'])
df.head()

,Unnamed: 0,state_fips,state_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,...,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,0,1.0,ALABAMA,1071.0,Jackson County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,53107.0,52986.0,52592.0,52229.0,52058.0,51865.0,51649.0,51672.0,51642.0,51582.0
1,1,1.0,ALABAMA,1093.0,Marion County,2020-07-09,NaN,07/16/2020,07/31/2020,7-9-2020,...,30495.0,30236.0,30215.0,30137.0,29958.0,29825.0,29776.0,29826.0,29749.0,29703.0
2,2,1.0,ALABAMA,1073.0,Jefferson County,2020-06-29,NaN,07/16/2020,07/31/2020,6-29-2020,...,658183.0,659434.0,660185.0,660717.0,660507.0,659892.0,659672.0,658539.0,656529.0,655342.0
3,3,1.0,ALABAMA,1063.0,Greene County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,8849.0,8749.0,8585.0,8509.0,8485.0,8312.0,8212.0,8104.0,8034.0,7990.0
4,4,1.0,ALABAMA,1089.0,Madison County,2020-07-07,NaN,07/16/2020,07/31/2020,7-7-2020,...,342823.0,346764.0,349973.0,353194.0,356985.0,362061.0,367386.0,372547.0,377894.0,379453.0

In [90]:
df_dummy = df.copy()

In [102]:

df['state_name'] = df['state_name'].apply(lambda x: x.strip())
df['e_results'] = ''

for i in df.index:
    state = df.loc[i, 'state_name']
    try:
        df['e_results'].at[i] = elec_df1[elec_df1['state_name'].str.strip() == state.strip()]['elec_result'].values[0]
    except Exception as e:
        print(e)
    
df.sample(n=20)

index 0 is out of bounds for axis 0 with size 0

,Unnamed: 0,state_fips,state_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,e_results
1933,1933,16.0,IDAHO,16023.0,Butte County,NaN,NaN,NaN,NaN,NaN,...,2665.0,2658.0,2565.0,2573.0,2582.0,2592.0,2620.0,2636.0,2646.0,1
1926,1926,15.0,HAWAII,15005.0,Kalawao County,NaN,NaN,04/17/2020,NaN,4-17-2020,...,89.0,89.0,88.0,88.0,87.0,87.0,87.0,90.0,87.0,0
2328,2328,27.0,MINNESOTA,27149.0,Stevens County,NaN,NaN,07/25/2020,NaN,7-25-2020,...,9753.0,9862.0,9886.0,9804.0,9710.0,9751.0,9822.0,9747.0,9765.0,0
2488,2488,29.0,MISSOURI,29145.0,Newton County,NaN,NaN,NaN,NaN,NaN,...,58396.0,58148.0,58165.0,58221.0,58206.0,58233.0,58329.0,58443.0,58451.0,1
2161,2161,19.0,IOWA,19037.0,Chickasaw County,NaN,NaN,NaN,NaN,NaN,...,12273.0,12250.0,12152.0,12098.0,12008.0,11965.0,11943.0,11872.0,11834.0,1
177,177,20.0,KANSAS,20023.0,Cheyenne County,2020-07-03,7/7/2020,07/03/2020,NaN,7-3-2020,...,2672.0,2687.0,2676.0,2665.0,2682.0,2625.0,2624.0,2616.0,2600.0,1
436,436,26.0,MICHIGAN,26017.0,Bay County,2020-04-27,NaN,07/10/2020,NaN,4-27-2020,...,106817.0,106073.0,105271.0,104421.0,104085.0,103674.0,102964.0,102596.0,102387.0,0
2625,2625,31.0,NEBRASKA,31161.0,Sheridan County,NaN,NaN,NaN,NaN,NaN,...,5213.0,5254.0,5220.0,5238.0,5281.0,5175.0,5229.0,5159.0,5150.0,1
2520,2520,29.0,MISSOURI,29213.0,Taney County,NaN,NaN,NaN,NaN,NaN,...,53298.0,53861.0,54282.0,54663.0,55176.0,55817.0,56057.0,56106.0,56104.0,1
1207,1207,48.0,TEXAS,48283.0,La Salle County,2020-07-02,NaN,NaN,NaN,7-2-2020,...,7442.0,7482.0,7635.0,7600.0,7537.0,7507.0,7546.0,7517.0,7500.0,1
2300,2300,20.0,KANSAS,20131.0,Nemaha County,NaN,NaN,07/03/2020,NaN,7-3-2020,...,10097.0,10092.0,10099.0,10102.0,10063.0,10085.0,10170.0,10135.0,10121.0,1
1717,1717,8.0,COLORADO,8073.0,Lincoln County,NaN,NaN,07/17/2020,08/16/2020,7-17-2020,...,5435.0,5503.0,5545.0,5546.0,5526.0,5595.0,5694.0,5694.0,5680.0,0
701,701,37.0,NORTH CAROLINA,37111.0,McDowell County,2020-06-26,NaN,06/26/2020,08/07/2020,6-26-2020,...,45027.0,45017.0,44982.0,44876.0,45089.0,45481.0,45784.0,45806.0,45782.0,1
1274,1274,51.0,VIRGINIA,51037.0,Charlotte County,2020-05-29,NaN,05/29/2020,NaN,5-29-2020,...,12281.0,12177.0,12182.0,12113.0,12078.0,11906.0,11849.0,11855.0,11820.0,0
499,499,26.0,MICHIGAN,26059.0,Hillsdale County,2020-04-27,NaN,07/10/2020,NaN,4-27-2020,...,46138.0,45937.0,45894.0,45789.0,45831.0,45709.0,45548.0,45664.0,45658.0,0
846,846,39.0,OHIO,39061.0,Hamilton County,2020-07-08,NaN,07/23/2020,NaN,7-8-2020,...,805408.0,807922.0,809902.0,811766.0,814693.0,815853.0,818653.0,818621.0,817985.0,1
442,442,26.0,MICHIGAN,26007.0,Alpena County,2020-04-27,NaN,07/10/2020,NaN,4-27-2020,...,28964.0,28888.0,28728.0,28670.0,28434.0,28422.0,28391.0,28306.0,28238.0,0
235,235,21.0,KENTUCKY,21107.0,Hopkins County,2020-07-10,NaN,07/10/2020,08/09/2020,7-10-2020,...,46436.0,46168.0,46068.0,45616.0,45303.0,44978.0,44660.0,44681.0,44662.0,1
838,838,39.0,OHIO,39109.0,Miami County,2020-07-23,NaN,07/23/2020,NaN,7-23-2020,...,103228.0,103876.0,104100.0,104553.0,105215.0,106091.0,106995.0,107428.0,107516.0,1
1217,1217,48.0,TEXAS,48349.0,Navarro County,2020-07-02,NaN,NaN,NaN,7-2-2020,...,48036.0,47907.0,48167.0,48403.0,48744.0,49556.0,49978.0,50539.0,50694.0,1

In [93]:
df_dummy["e_results"].value_counts()

1    1996
0    1153
        1
Name: e_results, dtype: int64

In [96]:
df_dummy[["state_name", "e_results"]].value_counts()

state_name            e_results
TEXAS                 1            254
GEORGIA               0            159
VIRGINIA              0            136
KENTUCKY              1            121
MISSOURI              1            115
KANSAS                1            105
ILLINOIS              0            102
NORTH CAROLINA        1            100
IOWA                  1             99
TENNESSEE             1             95
NEBRASKA              1             93
INDIANA               1             92
OHIO                  1             88
MINNESOTA             0             87
MICHIGAN              0             84
MISSISSIPPI           1             82
OKLAHOMA              1             77
ARKANSAS              1             75
WISCONSIN             0             72
PENNSYLVANIA          0             67
ALABAMA               1             67
FLORIDA               1             67
SOUTH DAKOTA          1             66
LOUISIANA             1             65
COLORADO              0             63
NEW YORK              0             62
CALIFORNIA            0             58
MONTANA               1             57
WEST VIRGINIA         1             55
NORTH DAKOTA          1             53
SOUTH CAROLINA        1             46
IDAHO                 1             44
WASHINGTON            0             39
OREGON                0             36
NEW MEXICO            0             33
UTAH                  1             29
ALASKA                1             28
MARYLAND              0             24
WYOMING               1             23
NEW JERSEY            0             21
NEVADA                0             17
MAINE                 0             17
ARIZONA               0             15
VERMONT               0             14
MASSACHUSETTS         0             14
NEW HAMPSHIRE         0             10
CONNECTICUT           0              9
HAWAII                0              6
RHODE ISLAND          0              5
DELAWARE              0              3
DISTRICT OF COLUMBIA                 1
dtype: int64

In [103]:
df.columns

Index(['Unnamed: 0', 'state_fips', 'state_name', 'fips', 'county_name',
       'county_start_date', 'county_end_date', 'state_start_date',
       'state_end_date', 'earliest_start_date', 'mask_mandate',
       'month_started', 'mandate_duration_months', 'date', 'county', 'state',
       'cases', 'deaths', 'SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY',
       'STNAME', 'CTYNAME', 'CENSUS2010POP', 'ESTIMATESBASE2010',
       'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018',
       'POPESTIMATE2019', 'POPESTIMATE042020', 'POPESTIMATE2020', 'e_results'],
      dtype='object')

In [105]:
df = df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [106]:
df.sample(n=10)

,state_fips,state_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,mask_mandate,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,e_results
785,39.0,OHIO,39143.0,Sandusky County,2020-07-23,NaN,07/23/2020,NaN,7-23-2020,1.0,...,60052.0,59830.0,59476.0,59311.0,59097.0,58726.0,58520.0,58409.0,58351.0,1
2598,31.0,NEBRASKA,31001.0,Adams County,NaN,NaN,NaN,NaN,NaN,0.0,...,31536.0,31400.0,31576.0,31723.0,31837.0,31513.0,31309.0,31371.0,31321.0,1
2386,28.0,MISSISSIPPI,28141.0,Tishomingo County,NaN,NaN,NaN,08/03/2020,NaN,0.0,...,19505.0,19429.0,19485.0,19455.0,19520.0,19360.0,19368.0,19288.0,19275.0,1
431,26.0,MICHIGAN,26103.0,Marquette County,2020-04-27,NaN,07/10/2020,NaN,4-27-2020,1.0,...,67792.0,67798.0,67357.0,66563.0,66524.0,66406.0,66689.0,66067.0,65834.0,0
1022,47.0,TENNESSEE,47045.0,Dyer County,2020-07-20,NaN,NaN,NaN,7-20-2020,1.0,...,38112.0,37835.0,37784.0,37588.0,37368.0,37233.0,37122.0,36848.0,36693.0,1
392,24.0,MARYLAND,24047.0,Worcester County,2020-04-18,NaN,04/18/2020,NaN,4-18-2020,1.0,...,51551.0,51581.0,51472.0,51508.0,51721.0,51940.0,52261.0,52377.0,52403.0,0
471,26.0,MICHIGAN,26051.0,Gladwin County,2020-04-27,NaN,07/10/2020,NaN,4-27-2020,1.0,...,25562.0,25498.0,25227.0,25146.0,25236.0,25326.0,25430.0,25440.0,25424.0,0
2892,46.0,SOUTH DAKOTA,46061.0,Hanson County,NaN,NaN,NaN,NaN,NaN,0.0,...,3403.0,3422.0,3388.0,3385.0,3411.0,3369.0,3463.0,3486.0,3489.0,1
2306,23.0,MAINE,23000.0,Maine,NaN,NaN,05/01/2020,NaN,5-1-2020,0.0,...,1328543.0,1331217.0,1329098.0,1332348.0,1335743.0,1340123.0,1345770.0,1349647.0,1350141.0,0
1521,1.0,ALABAMA,1009.0,Blount County,NaN,NaN,07/16/2020,07/31/2020,7-16-2020,0.0,...,57630.0,57536.0,57535.0,57487.0,57801.0,57770.0,57840.0,57932.0,57879.0,1

In [ ]:
df.to_csv('final.csv')

In [35]:
elec_df1["state_name"] = elec_df1["state_name"].astype(str)
elec_df1.dtypes

state_name     object
elec_result     int64
dtype: object

In [53]:
df_complete = pd.merge(df, elec_df1, axis=0)
df_complete.head()

TypeError: merge() got an unexpected keyword argument 'axis'

In [39]:
df_complete.head()

,Unnamed: 0,state_fips,state_namestate_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,...,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,state_namestate_name,elec_result
0,0,1.0,ALABAMA,1071.0,Jackson County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,52592.0,52229.0,52058.0,51865.0,51649.0,51672.0,51642.0,51582.0,ALABAMA,1.0
1,1,1.0,ALABAMA,1093.0,Marion County,2020-07-09,NaN,07/16/2020,07/31/2020,7-9-2020,...,30215.0,30137.0,29958.0,29825.0,29776.0,29826.0,29749.0,29703.0,ALASKA,1.0
2,2,1.0,ALABAMA,1073.0,Jefferson County,2020-06-29,NaN,07/16/2020,07/31/2020,6-29-2020,...,660185.0,660717.0,660507.0,659892.0,659672.0,658539.0,656529.0,655342.0,ARIZONA,0.0
3,3,1.0,ALABAMA,1063.0,Greene County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,8585.0,8509.0,8485.0,8312.0,8212.0,8104.0,8034.0,7990.0,ARKANSAS,1.0
4,4,1.0,ALABAMA,1089.0,Madison County,2020-07-07,NaN,07/16/2020,07/31/2020,7-7-2020,...,349973.0,353194.0,356985.0,362061.0,367386.0,372547.0,377894.0,379453.0,CALIFORNIA,0.0

In [4]:
# Turn dataframe into a dictionary
election_series = elec_df[["state_name", "red_blue_2020"]]
key_value = election_series.set_index('state_name')['red_blue_2020'].to_dict()
print(key_value)

{'ALABAMA': 1, 'ALASKA': 1, 'ARIZONA': 0, 'ARKANSAS': 1, 'CALIFORNIA': 0, 'COLORADO': 0, 'CONNECTICUT': 0, 'DELAWARE': 0, 'DISTRICT OF COLOMBIA': 0, 'FLORIDA': 1, 'GEORGIA': 0, 'HAWAII': 0, 'IDAHO': 1, 'ILLINOIS': 0, 'INDIANA': 1, 'IOWA': 1, 'KANSAS': 1, 'KENTUCKY': 1, 'LOUISIANA': 1, 'MAINE': 0, 'MARYLAND': 0, 'MASSACHUSETTS': 0, 'MICHIGAN': 0, 'MINNESOTA': 0, 'MISSISSIPPI': 1, 'MISSOURI': 1, 'MONTANA': 1, 'NEBRASKA': 1, 'NEVADA': 0, 'NEW HAMPSHIRE': 0, 'NEW JERSEY': 0, 'NEW MEXICO': 0, 'NEW YORK': 0, 'NORTH CAROLINA': 1, 'NORTH DAKOTA': 1, 'OHIO': 1, 'OKLAHOMA': 1, 'OREGON': 0, 'PENNSYLVANIA': 0, 'RHODE ISLAND': 0, 'SOUTH CAROLINA': 1, 'SOUTH DAKOTA': 1, 'TENNESSEE': 1, 'TEXAS': 1, 'UTAH': 1, 'VERMONT': 0, 'VIRGINIA': 0, 'WASHINGTON': 0, 'WEST VIRGINIA': 1, 'WISCONSIN': 0, 'WYOMING': 1}

In [5]:

d = key_value.items()

new_d = {str(key): str(value) for key, value in d}
print(new_d)

{'ALABAMA': '1', 'ALASKA': '1', 'ARIZONA': '0', 'ARKANSAS': '1', 'CALIFORNIA': '0', 'COLORADO': '0', 'CONNECTICUT': '0', 'DELAWARE': '0', 'DISTRICT OF COLOMBIA': '0', 'FLORIDA': '1', 'GEORGIA': '0', 'HAWAII': '0', 'IDAHO': '1', 'ILLINOIS': '0', 'INDIANA': '1', 'IOWA': '1', 'KANSAS': '1', 'KENTUCKY': '1', 'LOUISIANA': '1', 'MAINE': '0', 'MARYLAND': '0', 'MASSACHUSETTS': '0', 'MICHIGAN': '0', 'MINNESOTA': '0', 'MISSISSIPPI': '1', 'MISSOURI': '1', 'MONTANA': '1', 'NEBRASKA': '1', 'NEVADA': '0', 'NEW HAMPSHIRE': '0', 'NEW JERSEY': '0', 'NEW MEXICO': '0', 'NEW YORK': '0', 'NORTH CAROLINA': '1', 'NORTH DAKOTA': '1', 'OHIO': '1', 'OKLAHOMA': '1', 'OREGON': '0', 'PENNSYLVANIA': '0', 'RHODE ISLAND': '0', 'SOUTH CAROLINA': '1', 'SOUTH DAKOTA': '1', 'TENNESSEE': '1', 'TEXAS': '1', 'UTAH': '1', 'VERMONT': '0', 'VIRGINIA': '0', 'WASHINGTON': '0', 'WEST VIRGINIA': '1', 'WISCONSIN': '0', 'WYOMING': '1'}

In [6]:
df['elec_result'] = df['state_name'].map(new_d)

In [7]:
df.head()

,Unnamed: 0,state_fips,state_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,elec_result
0,0,1.0,ALABAMA,1071.0,Jackson County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,52986.0,52592.0,52229.0,52058.0,51865.0,51649.0,51672.0,51642.0,51582.0,NaN
1,1,1.0,ALABAMA,1093.0,Marion County,2020-07-09,NaN,07/16/2020,07/31/2020,7-9-2020,...,30236.0,30215.0,30137.0,29958.0,29825.0,29776.0,29826.0,29749.0,29703.0,NaN
2,2,1.0,ALABAMA,1073.0,Jefferson County,2020-06-29,NaN,07/16/2020,07/31/2020,6-29-2020,...,659434.0,660185.0,660717.0,660507.0,659892.0,659672.0,658539.0,656529.0,655342.0,NaN
3,3,1.0,ALABAMA,1063.0,Greene County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,8749.0,8585.0,8509.0,8485.0,8312.0,8212.0,8104.0,8034.0,7990.0,NaN
4,4,1.0,ALABAMA,1089.0,Madison County,2020-07-07,NaN,07/16/2020,07/31/2020,7-7-2020,...,346764.0,349973.0,353194.0,356985.0,362061.0,367386.0,372547.0,377894.0,379453.0,NaN

In [8]:
df

,Unnamed: 0,state_fips,state_name,fips,county_name,county_start_date,county_end_date,state_start_date,state_end_date,earliest_start_date,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,elec_result
0,0,1.0,ALABAMA,1071.0,Jackson County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,52986.0,52592.0,52229.0,52058.0,51865.0,51649.0,51672.0,51642.0,51582.0,NaN
1,1,1.0,ALABAMA,1093.0,Marion County,2020-07-09,NaN,07/16/2020,07/31/2020,7-9-2020,...,30236.0,30215.0,30137.0,29958.0,29825.0,29776.0,29826.0,29749.0,29703.0,NaN
2,2,1.0,ALABAMA,1073.0,Jefferson County,2020-06-29,NaN,07/16/2020,07/31/2020,6-29-2020,...,659434.0,660185.0,660717.0,660507.0,659892.0,659672.0,658539.0,656529.0,655342.0,NaN
3,3,1.0,ALABAMA,1063.0,Greene County,2020-07-01,NaN,07/16/2020,07/31/2020,7-1-2020,...,8749.0,8585.0,8509.0,8485.0,8312.0,8212.0,8104.0,8034.0,7990.0,NaN
4,4,1.0,ALABAMA,1089.0,Madison County,2020-07-07,NaN,07/16/2020,07/31/2020,7-7-2020,...,346764.0,349973.0,353194.0,356985.0,362061.0,367386.0,372547.0,377894.0,379453.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3208,3208,NaN,NaN,51000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8255861.0,8315430.0,8367303.0,8417651.0,8471011.0,8510920.0,8556642.0,8587217.0,8590563.0,NaN
3209,3209,NaN,NaN,53000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,6966252.0,7057531.0,7167287.0,7299961.0,7427951.0,7526793.0,7614024.0,7678379.0,7693612.0,NaN
3210,3210,NaN,NaN,54000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1854768.0,1850569.0,1843332.0,1832435.0,1818683.0,1805953.0,1795263.0,1788150.0,1784787.0,NaN
3211,3211,NaN,NaN,55000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5738012.0,5753199.0,5762927.0,5775170.0,5793147.0,5809319.0,5824581.0,5833464.0,5832655.0,NaN
3212,3212,NaN,NaN,56000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,582620.0,583159.0,586389.0,585243.0,579994.0,579054.0,580116.0,582030.0,582328.0,NaN

In [10]:
df.dtypes

Unnamed: 0                   int64
state_fips                 float64
state_name                  object
fips                       float64
county_name                 object
county_start_date           object
county_end_date             object
state_start_date            object
state_end_date              object
earliest_start_date         object
mask_mandate               float64
month_started              float64
mandate_duration_months    float64
date                        object
county                      object
state                       object
cases                      float64
deaths                     float64
SUMLEV                     float64
REGION                     float64
DIVISION                   float64
STATE                      float64
COUNTY                     float64
STNAME                      object
CTYNAME                     object
CENSUS2010POP               object
ESTIMATESBASE2010          float64
POPESTIMATE2010            float64
POPESTIMATE2011            float64
POPESTIMATE2012            float64
POPESTIMATE2013            float64
POPESTIMATE2014            float64
POPESTIMATE2015            float64
POPESTIMATE2016            float64
POPESTIMATE2017            float64
POPESTIMATE2018            float64
POPESTIMATE2019            float64
POPESTIMATE042020          float64
POPESTIMATE2020            float64
elec_result                 object
dtype: object