In [1]:
import pandas as pd

In [2]:
# Read in election csv
csv =  "Resources/elec_results_2020.csv"
elec_df = pd.read_csv(csv)
elec_df.head()

   state_fips  state_name  red_blue_2020
0           1     ALABAMA              1
1           2      ALASKA              1
2           4     ARIZONA              0
3           5    ARKANSAS              1
4           6  CALIFORNIA              0

In [3]:
# add in elec_result column to elec_df 
elec_df["elec_result"] = elec_df["red_blue_2020"]

In [4]:
# print out head of elec_df
elec_df.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [5]:
# copying elec_df to elec_df1
elec_df1 = elec_df.copy()

In [6]:
# check to see if elec_df1 copied correctly
elec_df1.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [7]:
# keep columns "state_name", "elect_result" in elec_df1
elec_df1 = elec_df1[["state_name", "elec_result"]]

In [8]:
# print elec_df1 head
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [9]:
# count elec_df1 for repeat states
elec_df1.value_counts()

state_name            elec_result
ALABAMA               1              1
PENNSYLVANIA          0              1
NEVADA                0              1
NEW HAMPSHIRE         0              1
NEW JERSEY            0              1
NEW MEXICO            0              1
NEW YORK              0              1
NORTH CAROLINA        1              1
NORTH DAKOTA          1              1
OHIO                  1              1
OKLAHOMA              1              1
OREGON                0              1
RHODE ISLAND          0              1
MONTANA               1              1
SOUTH CAROLINA        1              1
SOUTH DAKOTA          1              1
TENNESSEE             1              1
TEXAS                 1              1
UTAH                  1              1
VERMONT               0              1
VIRGINIA              0              1
WASHINGTON            0              1
WEST VIRGINIA         1              1
WISCONSIN             0              1
NEBRASKA              1              1
MISSOURI              1              1
ALASKA                1              1
IDAHO                 1              1
ARIZONA               0              1
ARKANSAS              1              1
CALIFORNIA            0              1
COLORADO              0              1
CONNECTICUT           0              1
DELAWARE              0              1
DISTRICT OF COLUMBIA  0              1
FLORIDA               1              1
GEORGIA               0              1
HAWAII                0              1
ILLINOIS              0              1
MISSISSIPPI           1              1
INDIANA               1              1
IOWA                  1              1
KANSAS                1              1
KENTUCKY              1              1
LOUISIANA             1              1
MAINE                 0              1
MARYLAND              0              1
MASSACHUSETTS         0              1
MICHIGAN              0              1
MINNESOTA             0              1
WYOMING               1              1
dtype: int64

In [10]:
# print the head of elec_df1
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [11]:
# read in the county_pop_merge.csv file

file = "Resources/county_pop_loc_sqlmerge1.csv"
df = pd.read_csv(file)

In [12]:
df = df.rename({"state_name_x" : "state_name"}, axis = 1)

In [13]:
df = df.dropna(subset=['state_name'])
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502

In [14]:
# copy df to df_dummy

df_dummy = df.copy()

In [15]:
# add in the election results to the mandate data

df['state_name'] = df['state_name'].apply(lambda x: x.strip())
df['e_results'] = ''

for i in df.index:
    state = df.loc[i, 'state_name']
    try:
        df['e_results'].at[i] = elec_df1[elec_df1['state_name'].str.strip() == state.strip()]['elec_result'].values[0]
    except Exception as e:
        print(e)
    
df.sample(n=20)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results
1516,1.0,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589.0,31.8696,-85.3932,1
2892,46.0,SOUTH DAKOTA,46105,Perkins County,0,0,0,2020-12-31,Perkins,South Dakota,285,11,2832.0,45.4905,-102.4757,1
1481,55.0,WISCONSIN,55017,Chippewa County,1,7,5,2020-12-31,Chippewa,Wisconsin,6005,67,64737.0,45.0694,-91.2798,0
502,26.0,MICHIGAN,26089,Leelanau County,1,4,8,2020-12-31,Leelanau,Michigan,626,7,21743.0,44.9386,-85.8118,0
1680,8.0,COLORADO,8011,Bent County,0,0,0,2020-12-31,Bent,Colorado,1037,12,5356.0,37.9551,-103.0717,0
324,22.0,LOUISIANA,22095,St. John the Baptist Parish,1,7,5,2020-12-31,St. John the Baptist,Louisiana,2649,119,42516.0,30.1265,-90.4709,1
2535,31.0,NEBRASKA,31173,Thurston County,0,0,0,2020-12-31,Thurston,Nebraska,706,9,7220.0,42.1582,-96.5440,1
313,22.0,LOUISIANA,22069,Natchitoches Parish,1,7,5,2020-12-31,Natchitoches,Louisiana,2840,58,37655.0,31.7235,-93.0962,1
76,8.0,COLORADO,8111,San Juan County,1,5,7,2020-12-31,San Juan,Colorado,27,0,748.0,37.7640,-107.6762,0
2883,46.0,SOUTH DAKOTA,46071,Jackson County,0,0,0,2020-12-31,Jackson,South Dakota,262,8,3321.0,43.6943,-101.6281,1
2531,31.0,NEBRASKA,31081,Hamilton County,0,0,0,2020-12-31,Hamilton,Nebraska,712,15,9237.0,40.8730,-98.0229,1
654,36.0,NEW YORK,36007,Broome County,1,4,8,2020-12-31,Broome,New York,8157,204,189420.0,42.1602,-75.8196,0
1427,54.0,WEST VIRGINIA,54043,Lincoln County,1,7,5,2020-12-31,Lincoln,West Virginia,741,8,20043.0,38.1753,-82.0704,1
2064,18.0,INDIANA,18143,Scott County,0,0,0,2020-12-31,Scott,Indiana,1919,37,23788.0,38.6851,-85.7475,1
101,12.0,FLORIDA,12087,Monroe County,1,6,6,2020-12-31,Monroe,Florida,4226,35,73900.0,25.3156,-81.1106,1
2297,27.0,MINNESOTA,27173,Yellow Medicine County,0,0,0,2020-12-31,Yellow Medicine,Minnesota,880,14,9580.0,44.7163,-95.8684,0
518,27.0,MINNESOTA,27169,Winona County,1,7,5,2020-12-31,Winona,Minnesota,3565,43,50485.0,43.9869,-91.7792,0
2763,40.0,OKLAHOMA,40147,Washington County,0,0,0,2020-12-31,Washington,Oklahoma,3129,60,52222.0,36.7152,-95.9044,1
354,22.0,LOUISIANA,22055,Lafayette Parish,1,7,5,2020-12-31,Lafayette,Louisiana,16753,188,246518.0,30.2068,-92.0639,1
954,42.0,PENNSYLVANIA,42011,Berks County,1,7,5,2020-12-31,Berks,Pennsylvania,23439,565,421017.0,40.4163,-75.9260,0

In [16]:
#count the election results

df["e_results"].value_counts()

1    1983
0    1142
Name: e_results, dtype: int64

In [17]:
# count the number of "state_name" and "e_result" values

df[["state_name", "e_results"]].value_counts()

state_name            e_results
TEXAS                 1            254
GEORGIA               0            159
VIRGINIA              0            133
KENTUCKY              1            120
MISSOURI              1            115
KANSAS                1            105
ILLINOIS              0            102
NORTH CAROLINA        1            100
IOWA                  1             99
TENNESSEE             1             95
NEBRASKA              1             93
INDIANA               1             92
OHIO                  1             88
MINNESOTA             0             87
MICHIGAN              0             83
MISSISSIPPI           1             82
OKLAHOMA              1             77
ARKANSAS              1             75
WISCONSIN             0             72
PENNSYLVANIA          0             67
ALABAMA               1             67
FLORIDA               1             66
SOUTH DAKOTA          1             65
LOUISIANA             1             64
COLORADO              0             63
CALIFORNIA            0             58
NEW YORK              0             57
MONTANA               1             56
WEST VIRGINIA         1             55
NORTH DAKOTA          1             53
SOUTH CAROLINA        1             46
IDAHO                 1             44
WASHINGTON            0             39
OREGON                0             36
NEW MEXICO            0             33
UTAH                  1             29
MARYLAND              0             24
WYOMING               1             23
NEW JERSEY            0             21
ALASKA                1             20
NEVADA                0             17
MAINE                 0             16
ARIZONA               0             15
VERMONT               0             14
MASSACHUSETTS         0             14
NEW HAMPSHIRE         0             10
CONNECTICUT           0              8
RHODE ISLAND          0              5
HAWAII                0              5
DELAWARE              0              3
DISTRICT OF COLUMBIA  0              1
dtype: int64

In [18]:
# call call out the columns of df
df.columns

Index(['state_fips', 'state_name', 'fips', 'county_name_x', 'mask_mandate',
       'month_started', 'mandate_duration_months', 'date', 'county', 'state',
       'cases', 'deaths', 'popestimate2020', 'lat', 'lng', 'e_results'],
      dtype='object')

In [19]:
# return a sample of data for the df
df.sample(n=10)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results
1623,5.0,ARKANSAS,5133,Sevier County,0,0,0,2020-12-31,Sevier,Arkansas,2079,20,16702.0,33.9972,-94.2412,1
971,44.0,RHODE ISLAND,44003,Kent County,1,5,7,2020-12-31,Kent,Rhode Island,9901,194,164646.0,41.6722,-71.5930,0
1200,48.0,TEXAS,48491,Williamson County,1,7,5,2020-12-31,Williamson,Texas,22884,210,617855.0,30.6480,-97.6008,1
1043,48.0,TEXAS,48139,Ellis County,1,7,5,2020-12-31,Ellis,Texas,13216,174,191760.0,32.3484,-96.7945,1
1436,54.0,WEST VIRGINIA,54035,Jackson County,1,7,5,2020-12-31,Jackson,West Virginia,1153,29,28453.0,38.8345,-81.6748,1
763,37.0,NORTH CAROLINA,37007,Anson County,1,6,6,2020-12-31,Anson,North Carolina,1407,26,24097.0,34.9738,-80.1027,1
1993,17.0,ILLINOIS,17089,Kane County,0,0,0,2020-12-31,Kane,Illinois,41511,604,531010.0,41.9388,-88.4286,0
1072,48.0,TEXAS,48479,Webb County,1,7,5,2020-12-31,Webb,Texas,26967,505,277681.0,27.7611,-99.3315,1
2678,36.0,NEW YORK,36091,Saratoga County,0,0,0,2020-12-31,Saratoga,New York,5588,40,230298.0,43.1074,-73.8639,0
363,22.0,LOUISIANA,22003,Allen Parish,1,7,5,2020-12-31,Allen,Louisiana,2458,71,25440.0,30.6529,-92.8279,1

In [20]:
# calcualting the percentage of cases to the overall population

df['cases_perc'] = round(df['cases']/df['popestimate2020']*100)

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6.0

In [21]:
df['cases_perc'].isna().sum()

1

In [22]:
df.dropna(subset=['cases_perc'], inplace=True)
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6.0

In [23]:
# turn the cases_perc column from float to int64

df = df.astype({'cases_perc': 'int64'})
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
dtype: object

In [24]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6

In [25]:
# check data types again of df
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
dtype: object

In [26]:
# calcualting the percentage of cases to the overall population

df['deaths_perc'] = round(df['deaths']/df['popestimate2020']*10000)
df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10,7.0
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7,14.0
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8,11.0
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8,25.0
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6,5.0

In [27]:
# turn the cases_perc column from float to int64
df = df.astype({'deaths_perc': 'int64'})
df.dtypes

state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                   object
cases_perc                   int64
deaths_perc                  int64
dtype: object

In [28]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc
0,1.0,ALABAMA,1071,Jackson County,1,7,5,2020-12-31,Jackson,Alabama,5097,34,51582.0,34.7795,-85.9994,1,10,7
1,1.0,ALABAMA,1093,Marion County,1,7,5,2020-12-31,Marion,Alabama,2087,43,29703.0,34.1366,-87.8871,1,7,14
2,1.0,ALABAMA,1073,Jefferson County,1,6,6,2020-12-31,Jefferson,Alabama,52339,697,655342.0,33.5543,-86.8964,1,8,11
3,1.0,ALABAMA,1063,Greene County,1,7,5,2020-12-31,Greene,Alabama,672,20,7990.0,32.8531,-87.9522,1,8,25
4,1.0,ALABAMA,1089,Madison County,1,7,5,2020-12-31,Madison,Alabama,22197,178,379453.0,34.7631,-86.5502,1,6,5

In [29]:
import numpy as np
bins = [0, 5, 10, 25]
df['binned'] = np.searchsorted(bins, df['cases_perc'].values)
df.sample(n=15)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc,binned
2971,48.0,TEXAS,48087,Collingsworth County,0,0,0,2020-12-31,Collingsworth,Texas,209,5,2877.0,34.9648,-100.2700,1,7,17,2
1928,16.0,IDAHO,16077,Power County,0,0,0,2020-12-31,Power,Idaho,555,4,7643.0,42.6937,-112.8407,1,7,5,2
1361,51.0,VIRGINIA,51085,Hanover County,1,5,7,2020-12-31,Hanover,Virginia,3828,72,108262.0,37.7601,-77.4912,0,4,7,1
861,40.0,OKLAHOMA,40143,Tulsa County,1,7,5,2020-12-31,Tulsa,Oklahoma,48124,399,657589.0,36.1211,-95.9415,1,7,6,2
1963,17.0,ILLINOIS,17031,Cook County,0,0,0,2020-12-31,Cook,Illinois,393652,8285,5108284.0,41.8401,-87.8168,0,8,16,2
2317,27.0,MINNESOTA,27005,Becker County,0,0,0,2020-12-31,Becker,Minnesota,2680,36,34456.0,46.9347,-95.6740,0,8,10,2
1742,12.0,FLORIDA,12113,Santa Rosa County,0,0,0,2020-12-31,Santa Rosa,Florida,11180,128,189139.0,30.7004,-87.0220,1,6,7,2
1306,51.0,VIRGINIA,51045,Craig County,1,5,7,2020-12-31,Craig,Virginia,149,1,5077.0,37.4817,-80.2114,0,3,2,1
1831,13.0,GEORGIA,13167,Johnson County,0,0,0,2020-12-31,Johnson,Georgia,732,33,9667.0,32.7015,-82.6601,0,8,34,2
907,42.0,PENNSYLVANIA,42131,Wyoming County,1,7,5,2020-12-31,Wyoming,Pennsylvania,787,29,26557.0,41.5184,-76.0166,0,3,11,1
2354,27.0,MINNESOTA,27089,Marshall County,0,0,0,2020-12-31,Marshall,Minnesota,675,12,9321.0,48.3581,-96.3685,0,7,13,2
1655,6.0,CALIFORNIA,6077,San Joaquin County,0,0,0,2020-12-31,San Joaquin,California,45583,651,767967.0,37.9348,-121.2714,0,6,8,2
1007,47.0,TENNESSEE,47065,Hamilton County,1,7,5,2020-12-31,Hamilton,Tennessee,29530,273,371662.0,35.1808,-85.1648,1,8,7,2
1177,48.0,TEXAS,48381,Randall County,1,7,5,2020-12-31,Randall,Texas,14006,191,139899.0,34.9659,-101.8970,1,10,14,2
2750,40.0,OKLAHOMA,40059,Harper County,0,0,0,2020-12-31,Harper,Oklahoma,345,3,3611.0,36.7888,-99.6674,1,10,8,2

In [30]:
#print out a sample of the data from df

df.sample(n=10)

,state_fips,state_name,fips,county_name_x,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,lat,lng,e_results,cases_perc,deaths_perc,binned
2827,45.0,SOUTH CAROLINA,45037,Edgefield County,0,0,0,2020-12-31,Edgefield,South Carolina,1551,26,27120.0,33.7722,-81.9664,1,6,10,2
3110,56.0,WYOMING,56009,Converse County,0,0,0,2020-12-31,Converse,Wyoming,803,11,13804.0,42.9723,-105.5072,1,6,8,2
1024,47.0,TENNESSEE,47027,Clay County,1,7,5,2020-12-31,Clay,Tennessee,845,23,7629.0,36.5511,-85.5439,1,11,30,3
2000,17.0,ILLINOIS,17081,Jefferson County,0,0,0,2020-12-31,Jefferson,Illinois,2926,82,37235.0,38.3005,-88.9240,0,8,22,2
3038,49.0,UTAH,49039,Sanpete County,0,0,0,2020-12-31,Sanpete,Utah,2374,12,31393.0,39.3739,-111.5763,1,8,4,2
1419,54.0,WEST VIRGINIA,54067,Nicholas County,1,7,5,2020-12-31,Nicholas,West Virginia,654,8,24340.0,38.2917,-80.7994,1,3,3,1
1942,17.0,ILLINOIS,17145,Perry County,0,0,0,2020-12-31,Perry,Illinois,2185,52,20664.0,38.0837,-89.3670,0,11,25,3
2110,19.0,IOWA,19053,Decatur County,0,0,0,2020-12-31,Decatur,Iowa,429,3,7769.0,40.7377,-93.7863,1,6,4,2
649,35.0,NEW MEXICO,35028,Los Alamos County,1,5,7,2020-12-31,Los Alamos,New Mexico,284,0,19462.0,35.8694,-106.3074,0,1,0,1
241,21.0,KENTUCKY,21217,Taylor County,1,7,5,2020-12-31,Taylor,Kentucky,1747,21,25707.0,37.3665,-85.3279,1,7,8,2

In [31]:
# save df datafram to a csv titled "final.csv"
df.to_csv('final.csv')