In [25]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
#from sklearn.cluster import KMeans
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [26]:
mldf = pd.read_csv('final.csv')
mldf.dtypes

Unnamed: 0                   int64
state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

Unnamed: 0                   int64
state_fips                 float64
state_name                  object
fips                         int64
county_name_x               object
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
date                        object
county                      object
state                       object
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

In [27]:
mldf_numerical = mldf.select_dtypes(include = 'number')
mldf_numerical.dtypes

Unnamed: 0                   int64
state_fips                 float64
fips                         int64
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

Unnamed: 0                   int64
state_fips                 float64
fips                         int64
mask_mandate                 int64
month_started                int64
mandate_duration_months      int64
cases                        int64
deaths                       int64
popestimate2020            float64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

In [28]:
#drop columns that don't need to be input features
mldf_for_scaling = mldf_numerical.drop(columns=['Unnamed: 0', 'state_fips', 'fips', 'month_started', 'cases', 'deaths', 'popestimate2020'])

In [29]:
mldf_for_scaling.dtypes

mask_mandate                 int64
mandate_duration_months      int64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

mask_mandate                 int64
mandate_duration_months      int64
lat                        float64
lng                        float64
e_results                    int64
cases_perc                   int64
deaths_perc                  int64
dtype: object

In [30]:
# assign variables, y = depedent variable - death percentage; x = independent variable - mask_mandate
y = mldf_for_scaling['cases_perc'].values
#y[:5]
X = mldf_for_scaling.copy()
X = X.drop('cases_perc', axis=1)

In [31]:
#scale the new dataset
scaler = StandardScaler()
mldf_scaled = scaler.fit_transform(mldf_for_scaling)

In [32]:
mldf_scaled[:5]

array([[ 1.04855251,  0.75202069, -0.69578892,  0.48939295,  0.75906895,
         1.17128652, -0.07612644],
       [ 1.04855251,  0.75202069, -0.81970784,  0.33872072,  0.75906895,
         0.10573641, -0.07612644],
       [ 1.04855251,  1.08682368, -0.93194611,  0.4177963 ,  0.75906895,
         0.46091978, -0.07612644],
       [ 1.04855251,  0.75202069, -1.06710234,  0.33352458,  0.75906895,
         0.46091978, -0.07612644],
       [ 1.04855251,  0.75202069, -0.69895002,  0.44542926,  0.75906895,
        -0.24944696, -0.07612644]])

array([[ 1.04855251,  0.75202069, -0.69578892,  0.48939295,  0.75906895,
         1.17128652, -0.07612644],
       [ 1.04855251,  0.75202069, -0.81970784,  0.33872072,  0.75906895,
         0.10573641, -0.07612644],
       [ 1.04855251,  1.08682368, -0.93194611,  0.4177963 ,  0.75906895,
         0.46091978, -0.07612644],
       [ 1.04855251,  0.75202069, -1.06710234,  0.33352458,  0.75906895,
         0.46091978, -0.07612644],
       [ 1.04855251,  0.75202069, -0.69895002,  0.44542926,  0.75906895,
        -0.24944696, -0.07612644]])

In [33]:
print(np.mean(mldf_scaled[:,0]))
print(np.std(mldf_scaled[:,0]))

-1.4556573331833038e-16
1.0
-1.4556573331833038e-16
1.0

In [34]:
mldf_scaled.shape

(3124, 7)

(3124, 7)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [36]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=78)
classifier

LogisticRegression(random_state=78)

LogisticRegression(random_state=78)

In [37]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
   intercept_scaling=1, max_iter=1500, multi_class='warn', penalty='12',
   random_state=78, solver='lbfgs', tol=0.0001, warm_start=False)

LogisticRegression(max_iter=1500, multi_class='warn', penalty='12',
                   random_state=78)

LogisticRegression(max_iter=1500, multi_class='warn', penalty='12',
                   random_state=78)

In [38]:
classifier.fit(X_train, y_train)

C:\Users\jdgre\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=78)

C:\Users\jdgre\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=78)

In [39]:
#Create predictions and assemble the results into a dataframe

predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
0             7      10
1             6       5
2             7       2
3             6       3
4             7       8
..          ...     ...
776           4       6
777           6       8
778           7       6
779           5       5
780           7      12

[781 rows x 2 columns]

     Prediction  Actual
0             7      10
1             6       5
2             7       2
3             6       3
4             7       8
..          ...     ...
776           4       6
777           6       8
778           7       6
779           5       5
780           7      12

[781 rows x 2 columns]

In [40]:
# Assess performance

from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.17285531370038412

0.17285531370038412

Deaths Prediction

In [41]:
# assign variables, y = depedent variable - death percentage; x = independent variable - mask_mandate
y1 = mldf_for_scaling['deaths_perc'].values
#y[:5]
X1 = mldf_for_scaling.copy()
X1 = X.drop('deaths_perc', axis=1)

In [42]:
#scale the new dataset
scaler = StandardScaler()
mldf_scaled_deaths = scaler.fit_transform(mldf_for_scaling)

In [43]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=78)

In [44]:
from sklearn.linear_model import LogisticRegression
classifier1 = LogisticRegression(solver='lbfgs', random_state=78)
classifier1

LogisticRegression(random_state=78)

LogisticRegression(random_state=78)

In [45]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
   intercept_scaling=1, max_iter=1500, multi_class='warn', penalty='12',
   random_state=78, solver='lbfgs', tol=0.0001, warm_start=False)

LogisticRegression(max_iter=1500, multi_class='warn', penalty='12',
                   random_state=78)

LogisticRegression(max_iter=1500, multi_class='warn', penalty='12',
                   random_state=78)

In [46]:
classifier1.fit(X1_train, y1_train)

LogisticRegression(random_state=78)

LogisticRegression(random_state=78)

In [47]:
predictions_deaths = classifier1.predict(X1_test)
pd.DataFrame({"Prediction": predictions_deaths, "Actual": y1_test})

     Prediction  Actual
0             0       0
1             0       0
2             0       0
3             0       0
4             0       0
..          ...     ...
776           0       0
777           0       0
778           0       0
779           0       0
780           0       0

[781 rows x 2 columns]

     Prediction  Actual
0             0       0
1             0       0
2             0       0
3             0       0
4             0       0
..          ...     ...
776           0       0
777           0       0
778           0       0
779           0       0
780           0       0

[781 rows x 2 columns]

In [48]:
# Assess performance

from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions_deaths)

0.0012804097311139564

0.0012804097311139564