In [1]:
import pandas as pd

In [2]:
# Read in election csv
csv =  "Resources/elec_results_2020.csv"
elec_df = pd.read_csv(csv)
elec_df.head()

   state_fips  state_name  red_blue_2020
0           1     ALABAMA              1
1           2      ALASKA              1
2           4     ARIZONA              0
3           5    ARKANSAS              1
4           6  CALIFORNIA              0

In [3]:
# add in elec_result column to elec_df 
elec_df["elec_result"] = elec_df["red_blue_2020"]

In [4]:
# print out head of elec_df
elec_df.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [5]:
# copying elec_df to elec_df1
elec_df1 = elec_df.copy()

In [6]:
# check to see if elec_df1 copied correctly
elec_df1.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [7]:
# keep columns "state_name", "elect_result" in elec_df1
elec_df1 = elec_df1[["state_name", "elec_result"]]

In [8]:
# print elec_df1 head
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [9]:
# count elec_df1 for repeat states
elec_df1.value_counts()

state_name            elec_result
ALABAMA               1              1
PENNSYLVANIA          0              1
NEVADA                0              1
NEW HAMPSHIRE         0              1
NEW JERSEY            0              1
NEW MEXICO            0              1
NEW YORK              0              1
NORTH CAROLINA        1              1
NORTH DAKOTA          1              1
OHIO                  1              1
OKLAHOMA              1              1
OREGON                0              1
RHODE ISLAND          0              1
MONTANA               1              1
SOUTH CAROLINA        1              1
SOUTH DAKOTA          1              1
TENNESSEE             1              1
TEXAS                 1              1
UTAH                  1              1
VERMONT               0              1
VIRGINIA              0              1
WASHINGTON            0              1
WEST VIRGINIA         1              1
WISCONSIN             0              1
NEBRASKA              1              1
MISSOURI              1              1
ALASKA                1              1
IDAHO                 1              1
ARIZONA               0              1
ARKANSAS              1              1
CALIFORNIA            0              1
COLORADO              0              1
CONNECTICUT           0              1
DELAWARE              0              1
DISTRICT OF COLUMBIA  0              1
FLORIDA               1              1
GEORGIA               0              1
HAWAII                0              1
ILLINOIS              0              1
MISSISSIPPI           1              1
INDIANA               1              1
IOWA                  1              1
KANSAS                1              1
KENTUCKY              1              1
LOUISIANA             1              1
MAINE                 0              1
MARYLAND              0              1
MASSACHUSETTS         0              1
MICHIGAN              0              1
MINNESOTA             0              1
WYOMING               1              1
dtype: int64

In [10]:
# print the head of elec_df1
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [11]:
# read in the county_pop_merge.csv file

file = "county_pop_merge.csv"
df = pd.read_csv(file)
df = df.dropna(subset=['state_name'])
df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879

In [12]:
# copy df to df_dummy

df_dummy = df.copy()

In [13]:
# add in the election results to the mandate data

df['state_name'] = df['state_name'].apply(lambda x: x.strip())
df['e_results'] = ''

for i in df.index:
    state = df.loc[i, 'state_name']
    try:
        df['e_results'].at[i] = elec_df1[elec_df1['state_name'].str.strip() == state.strip()]['elec_result'].values[0]
    except Exception as e:
        print(e)
    
df.sample(n=20)

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results
2607,48,TEXAS,48205,Hartley County,1,7,5,2020-12-31,Hartley,Texas,319,2,5443,1
1955,37,NORTH CAROLINA,37165,Scotland County,1,6,6,2020-12-31,Scotland,North Carolina,2522,54,34637,1
1445,28,MISSISSIPPI,28113,Pike County,0,0,0,2020-12-31,Pike,Mississippi,2210,71,38997,1
24,1,ALABAMA,1049,DeKalb County,0,0,0,2020-12-31,DeKalb,Alabama,6900,61,71658,1
451,13,GEORGIA,13155,Irwin County,0,0,0,2020-12-31,Irwin,Georgia,658,17,9387,0
335,12,FLORIDA,12055,Highlands County,0,0,0,2020-12-31,Highlands,Florida,4975,204,106639,1
2109,39,OHIO,39167,Washington County,1,7,5,2020-12-31,Washington,Ohio,2996,38,59652,1
2002,38,NORTH DAKOTA,38059,Morton County,0,0,0,2020-12-31,Morton,North Dakota,4629,88,31503,1
2750,48,TEXAS,48491,Williamson County,1,7,5,2020-12-31,Williamson,Texas,22884,210,617855,1
1224,26,MICHIGAN,26011,Arenac County,1,4,8,2020-12-31,Arenac,Michigan,597,24,14953,0
1503,29,MISSOURI,29065,Dent County,0,0,0,2020-12-31,Dent,Missouri,701,8,15481,1
2103,39,OHIO,39155,Trumbull County,1,7,5,2020-12-31,Trumbull,Ohio,10843,264,196800,1
1497,29,MISSOURI,29053,Cooper County,0,0,0,2020-12-31,Cooper,Missouri,1493,20,17102,1
205,6,CALIFORNIA,6059,Orange County,1,5,7,2020-12-31,Orange,California,166196,1875,3166857,0
2075,39,OHIO,39099,Mahoning County,1,7,5,2020-12-31,Mahoning,Ohio,14800,315,226075,1
227,6,CALIFORNIA,6103,Tehama County,0,0,0,2020-12-31,Tehama,California,2967,36,64494,0
1111,22,LOUISIANA,22021,Caldwell Parish,1,7,5,2020-12-31,Caldwell,Louisiana,922,21,9839,1
32,1,ALABAMA,1065,Hale County,0,0,0,2020-12-31,Hale,Alabama,1440,33,14670,1
1798,35,NEW MEXICO,35028,Los Alamos County,1,5,7,2020-12-31,Los Alamos,New Mexico,284,0,19462,0
3011,54,WEST VIRGINIA,54075,Pocahontas County,1,7,5,2020-12-31,Pocahontas,West Virginia,356,9,8190,1

In [14]:
#count the election results

df["e_results"].value_counts()

1    1982
0    1142
Name: e_results, dtype: int64

In [15]:
# count the number of "state_name" and "e_result" values

df[["state_name", "e_results"]].value_counts()

state_name            e_results
TEXAS                 1            254
GEORGIA               0            159
VIRGINIA              0            133
KENTUCKY              1            120
MISSOURI              1            115
KANSAS                1            105
ILLINOIS              0            102
NORTH CAROLINA        1            100
IOWA                  1             99
TENNESSEE             1             95
NEBRASKA              1             93
INDIANA               1             92
OHIO                  1             88
MINNESOTA             0             87
MICHIGAN              0             83
MISSISSIPPI           1             82
OKLAHOMA              1             77
ARKANSAS              1             75
WISCONSIN             0             72
PENNSYLVANIA          0             67
ALABAMA               1             67
FLORIDA               1             66
SOUTH DAKOTA          1             65
LOUISIANA             1             64
COLORADO              0             63
CALIFORNIA            0             58
NEW YORK              0             57
MONTANA               1             56
WEST VIRGINIA         1             55
NORTH DAKOTA          1             53
SOUTH CAROLINA        1             46
IDAHO                 1             44
WASHINGTON            0             39
OREGON                0             36
NEW MEXICO            0             33
UTAH                  1             29
MARYLAND              0             24
WYOMING               1             23
NEW JERSEY            0             21
ALASKA                1             19
NEVADA                0             17
MAINE                 0             16
ARIZONA               0             15
VERMONT               0             14
MASSACHUSETTS         0             14
NEW HAMPSHIRE         0             10
CONNECTICUT           0              8
RHODE ISLAND          0              5
HAWAII                0              5
DELAWARE              0              3
DISTRICT OF COLUMBIA  0              1
dtype: int64

In [16]:
# call call out the columns of df
df.columns

Index(['state_fips', 'state_name', 'fips', 'county_name', 'mask_mandate',
       'month_started', 'mandate_duration_months', 'date', 'county', 'state',
       'cases', 'deaths', 'popestimate2020', 'e_results'],
      dtype='object')

In [17]:
# return a sample of data for the df
df.sample(n=10)

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results
2554,48,TEXAS,48099,Coryell County,1,7,5,2020-12-31,Coryell,Texas,3544,32,76737,1
3028,54,WEST VIRGINIA,54109,Wyoming County,1,7,5,2020-12-31,Wyoming,West Virginia,1182,20,20123,1
186,6,CALIFORNIA,6021,Glenn County,0,0,0,2020-12-31,Glenn,California,1458,14,28283,0
11,1,ALABAMA,1023,Choctaw County,0,0,0,2020-12-31,Choctaw,Alabama,490,22,12418,1
1559,29,MISSOURI,29177,Ray County,0,0,0,2020-12-31,Ray,Missouri,1115,8,22915,1
2317,45,SOUTH CAROLINA,45035,Dorchester County,1,7,5,2020-12-31,Dorchester,South Carolina,8354,128,165737,1
2944,53,WASHINGTON,53019,Ferry County,1,6,6,2020-12-31,Ferry,Washington,176,2,7759,0
1389,28,MISSISSIPPI,28001,Adams County,0,0,0,2020-12-31,Adams,Mississippi,1801,58,30275,1
1181,24,MARYLAND,24001,Allegany County,1,4,8,2020-12-31,Allegany,Maryland,5404,153,70057,0
2283,42,PENNSYLVANIA,42111,Somerset County,1,7,5,2020-12-31,Somerset,Pennsylvania,4849,81,72916,0

In [18]:
# calcualting the percentage of cases to the overall population

df['cases_perc'] = round(df['cases']/df['popestimate2020']*100)

df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,7.0
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,6.0
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,6.0
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,8.0
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,8.0

In [19]:
# turn the cases_perc column from float to int64

df = df.astype({'cases_perc': 'int64'})
df.dtypes

state_fips                  int64
state_name                 object
fips                        int64
county_name                object
mask_mandate                int64
month_started               int64
mandate_duration_months     int64
date                       object
county                     object
state                      object
cases                       int64
deaths                      int64
popestimate2020             int64
e_results                  object
cases_perc                  int64
dtype: object

In [20]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,7
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,6
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,6
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,8
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,8

In [21]:
# check data types again of df
df.dtypes

state_fips                  int64
state_name                 object
fips                        int64
county_name                object
mask_mandate                int64
month_started               int64
mandate_duration_months     int64
date                       object
county                     object
state                      object
cases                       int64
deaths                      int64
popestimate2020             int64
e_results                  object
cases_perc                  int64
dtype: object

In [22]:
# calcualting the percentage of cases to the overall population

df['deaths_perc'] = round(df['deaths']/df['popestimate2020']*100)
df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc,deaths_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,7,0.0
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,6,0.0
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,6,0.0
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,8,0.0
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,8,0.0

In [23]:
# turn the cases_perc column from float to int64
df = df.astype({'deaths_perc': 'int64'})
df.dtypes

state_fips                  int64
state_name                 object
fips                        int64
county_name                object
mask_mandate                int64
month_started               int64
mandate_duration_months     int64
date                       object
county                     object
state                      object
cases                       int64
deaths                      int64
popestimate2020             int64
e_results                  object
cases_perc                  int64
deaths_perc                 int64
dtype: object

In [24]:
# look at the head of df

df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc,deaths_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,7,0
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,6,0
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,6,0
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,8,0
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,8,0

In [25]:
#print out a sample of the data from df

df.sample(n=10)

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc,deaths_perc
2968,53,WASHINGTON,53067,Thurston County,1,5,7,2020-12-31,Thurston,Washington,4776,56,294074,0,2,0
2845,51,VIRGINIA,51089,Henry County,1,5,7,2020-12-31,Henry,Virginia,2637,53,50309,0,5,0
86,4,ARIZONA,4001,Apache County,0,0,0,2020-12-31,Apache,Arizona,7438,237,71875,0,10,0
2820,51,VIRGINIA,51036,Charles City County,1,5,7,2020-12-31,Charles City,Virginia,195,8,6821,0,3,0
956,20,KANSAS,20161,Riley County,0,0,0,2020-12-31,Riley,Kansas,4917,20,73202,1,7,0
1713,31,NEBRASKA,31143,Polk County,0,0,0,2020-12-31,Polk,Nebraska,463,15,5201,1,9,0
1775,34,NEW JERSEY,34027,Morris County,1,4,8,2020-12-31,Morris,New Jersey,20284,958,491087,0,4,0
3055,55,WISCONSIN,55053,Jackson County,0,0,0,2020-12-31,Jackson,Wisconsin,2402,18,20630,0,12,0
1042,21,KENTUCKY,21123,Larue County,1,7,5,2020-12-31,Larue,Kentucky,816,4,14431,1,6,0
1916,37,NORTH CAROLINA,37087,Haywood County,1,6,6,2020-12-31,Haywood,North Carolina,2136,61,62972,1,3,0

In [26]:
# save df datafram to a csv titled "final.csv"
df.to_csv('final.csv')